<div class="d-flex justify-content-between align-items-center mt-4">
  <h1>Restaurants Overview</h1>
</div>

<% @restaurants.reverse_each do |restaurant| %>
  <div class="mt-5">
      <h2> 
        <a href="/restaurants/<%= restaurant.id %>">
          <%= restaurant.name %>
        </a>
      </h2>
      <p>
      Address:  <%= restaurant.address  %>
      </p>
      <p>
      Category:  <%= restaurant.category.capitalize  %>
      </p>
  </div>
<% end %>
