<h1>Restaurants Overview</h1>


<% @restaurants.reverse_each do |restaurant| %>
  <div>
    <h2> 
      <a href="/restaurants/<%= restaurant.id %>">
        <%= restaurant.name %>
      </a>
    </h2>
    <p>
     Address:  <%= restaurant.address  %>
    </p>
    <p>
     Category:  <%= restaurant.category.capitalize  %>
    </p>
  </div>
<% end %>
